<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="headerfooter ::header2">
<meta charset="utf-8">

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="list.html"
						th:href="@{/employee/showList}"> <!-- 企業ロゴ --> <img
						src="../../static/img/header_logo_small.png"
						th:src="@{/img/header_logo_small.png}">
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active"><a href="list.html" th:href="@{/employee/showList}">従業員管理</a></li>
					</ul>
					<p class="navbar-text navbar-right">
						<span th:text="${session.administratorName + 'さん'}">山田さん</span>こんにちは！
						&nbsp;&nbsp;&nbsp; <a href="../administrator/login.html"
							class="navbar-link" th:href="@{/logout}">ログアウト</a>
					</p>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- パンくずリスト -->
		<ol class="breadcrumb">
			<li><a href="list.html" th:href="@{/employee/showList}">従業員リスト</a></li>
			<li class="active">従業員詳細</li>
		</ol>

		<!-- register form -->
		<div class="row">
			<div
				class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
				<!-- 背景をグレーに、埋め込んだようなコンポーネント -->
				<div class="well">


					<!-- ここから上を編集する必要はありません -->

					<!-- ここにモックのform要素を貼り付けます -->
					<form method="post" action="list.html"
						th:action="@{/employee/update}" th:object="${updateEmployee}">
						<fieldset>
							<legend>従業員情報</legend>
							<table class="table table-striped">
								<tr>
									<th nowrap>従業員名</th>
									<td><input type="hidden" name="id" th:value="${employee.id}">
										<input type="text" name="name" id="name"
										class="form-control" th:value="${employee.name}"></td>
								</tr>
								<tr>
									<th nowrap>写真</th>
									<td><img src="../../static/img/e2.png"
										th:src="${'/img/' + employee.image}"></td>
								</tr>
								<tr>
									<th nowrap>性別</th>
									<td>
										<input type="text" name="gender" id="gender"
										class="form-control" th:value="${employee.gender}"></td>
								</tr>
								<tr>
									<th nowrap>入社日</th>
									<td>
										<input type="text" name="hireDate" id="hireDate"
										class="form-control" th:value="${employee.hireDate}"></td>
								</tr>
								<tr>
									<th nowrap>メールアドレス</th>
									<td>
										<input type="text" name="mailAddress" id="mailAddress"
										class="form-control" th:value="${employee.mailAddress}"></td>
								</tr>
								<tr>
									<th nowrap>郵便番号</th>
									<td>
										<input type="text" name="zipCode" id="zipCode"
										class="form-control" th:value="${employee.zipCode}"></td>
								</tr>
								<tr>
									<th nowrap>住所</th>
									<td>
										<input type="text" name="address" id="address"
										class="form-control" th:value="${employee.address}"></td>
								</tr>
								<tr>
									<th nowrap>電話番号</th>
									<td>
										<input type="text" name="telephone" id="telephone"
										class="form-control" th:value="${employee.telephone}">
									</td>
								</tr>
								<tr>
									<th nowrap>給料</th>
									<td>
										<input type="text" name="salary" id="salary"
										class="form-control" th:value="${employee.salary}">
									</td>
								</tr>
								<tr>
									<th nowrap>特性</th>
									<td>
										<textarea  rows="4" cols="40" name="characteristics" id="characteristics"
										class="form-control" th:text="${employee.characteristics}"></textarea>
									</td>
								</tr>
								<tr>
									<th nowrap>扶養人数</th>
									<td><label th:errors="*{dependentsCount}" class="error-messages"> 扶養人数を入力してください </label>
										<label class="control-label" style="color: red"
										for="dependentsCount"></label> <input type="hidden" name="id"
									th:value="${employee.id}"> <input type="text" name="dependentsCount"
										id="dependentsCount" class="form-control" th:value="${employee.dependentsCount}"></td>
								</tr>
							</table>
							<button type="submit" class="btn btn-primary">更新</button>
						</fieldset>
					</form>


					<!-- ここから下を編集する必要はありません -->
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<footer th:replace="headerfooter :: footer"></footer>
</body>
</html>
